{% extends "app/base.html" %} <!-- template inheritance: https://docs.djangoproject.com/en/3.1/ref/templates/language/ -->

{% load static %}

{% block title %} Jokebot App {% endblock %}

{% block head %}
<!-- get CSS from static directory -->
<link rel="stylesheet" type="text/css" href="{% static 'app/styles.css' %}">

<!-- get JS from static directory -->
<script type="text/javascript" src="{% static 'app/script.js' %}"> </script>
{% endblock %}

{% block header %} <h1>Jokebot</h1> {% endblock %}

{% block content %}

<div class="container chat-container">
	<div class="container message-container">
		<ul class="messages"></ul>
	</div>

	<div class="container input-container preset-container">
		<ul id="preset-list" class="presets"></ul>
	</div>

	<div class="container input-container chat-box">
		<textarea class="edit-text"></textarea>
		<i id="send" class="fas fa-paper-plane"></i>
	</div>
</div>

<!-- hidden html forms: https://stackoverflow.com/questions/10773144/how-to-send-url-parameter-in-post-request-without-form -->
<form method="POST" id="jokeForm" action="/new">
  {% csrf_token %}
  <input type="hidden" name="setup" id="setup_id" required maxlength="254" value=""/>
  <input type="hidden" name="delivery" id="delivery_id" required maxlength="254" value=""/>
  <button style="display:none" id="submit" onclick="document.forms[0].submit();">
</form>

{% endblock %}
