body {
	margin: 5px;
}

h1 {
	color: navy;
	font-family: "Verdana";
	font-size: 200%;
}

ul { /* get rid of margins for upcoming lists */
	margin: 0px;
}

.container { /* applies to all containers in the app */
	padding: 5px;
	position: relative;
}

.input-container { /* applies only to containers that contain input */
	height: 5%;
}

.chat-container {
	height: 625px; /* tentative fix */
	/* flexbox reference: https://stackoverflow.com/questions/6401869/stacking-divs-from-bottom-to-top*/
	flex-grow: 5;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
}

.message-container {
	margin-bottom: 5px;
	/* flex-grow shorthand: https://stackoverflow.com/questions/37745051/make-div-fill-remaining-horizontal-space-in-flexbox*/
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	flex-grow: 10;
	border: 1px solid black;
	overflow-y: auto;
}

.messages { /* list of messages */
	display: flex;
	flex-direction: column;
	padding-left: 20px;
	padding-right: 20px;
	overflow-y: scroll;
}

/* chat bubble reference: https://projects.verou.me/bubbly/ */
.message {
	position: relative;
	border-radius: .4em;
	font-size: 130%;
	padding: 5px;
	margin-top: 5px;
	max-width: 400px;
	box-shadow: 1px 2px 2px rgba(0,0,0,0.2);
}

.bot-message { /* styling for bot-specific messages */
	font-family: "Lucida Console";
	/* robot colour palette: https://www.color-hex.com/color-palette/4970 */
	background-color: #D5D5D5;
	color: #334D5C;
}

.bot-message:after { /* style for bot-specific chat bubble additions */
	content: '';
	position: absolute;
	left: 0;
	top: 30%;
	width: 0;
	height: 0;
	border: 12px solid transparent;
	border-right-color: #D5D5D5;
	border-left: 0;
	border-top: 0;
	margin-top: -6px;
	margin-left: -12px;
}

.user-message { /* styling for user-specific messages */
	font-family: "Helvetica";
	align-self: flex-end;
	background-color: #BBDEFB;
	color: #0D47A1;
}

.user-message:after { /* style for user-specific chat bubble additions */
	content: '';
	position: absolute;
	right: 0;
	top: 70%;
	width: 0;
	height: 0;
	border: 12px solid transparent;
	border-left-color: #BBDEFB;
	border-right: 0;
	border-bottom: 0;
	margin-top: -6px;
	margin-right: -12px;
}

.preset-container {
	border: 1px solid black;
	/* more flex magic: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
	display: flex;
	flex-flow: row wrap;
}

.presets {
	display: flex;
	flex-flow: row wrap;
	padding-left: 20px;
	padding-right: 20px;
}

.preset {
	/* box shadow code adapted from: https://tobiasahlin.com/blog/how-to-animate-box-shadow/
	   and https://www.w3schools.com/cssref/css3_pr_box-shadow.asp */
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	transition: all 0.3s ease-in-out;
	margin-right: 10px;
	padding: 2.5px;
	font-size: 140%;
	border-radius: .4em;
	border: 1px solid #2196F3;
	color: #2196F3;
}

.preset:hover {
	box-shadow: 0 5px 15px rgba(0,0,0,0.35);
}

.chat-box {
	display: inline-flex;
	flex-direction: row;
	padding-left: 0px;
}

.edit-text {
	flex: 1;
	margin-right: 5px;
	resize: none;
	font-size: 135%;
}

.edit-text:disabled { /* shade the text box if it is disabled */
	box-shadow: 8px 8px 10px rgba(0,0,0,0.25) inset;
}

i {
	margin: 1px;
	font-size: 1.75em;
	opacity: 0.25;
}

i:hover {
	opacity: 1;
}
